.templatewrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 10px 10vw;
    margin-bottom: 10vh;
    background-color: palegoldenrod
}

.documainheader {
    text-align: center;
    margin: 20px;
}

.dtext {
    padding: 5px;
}

.dheader {
    padding-top: 10px;
    margin-bottom: 2px;
}

.dboard {
    padding: 15px;
}

.dvid {
    margin: 10px 10vw;
    background-color: blue
}