@import url('fonts.css');

.headerbar {
    width: 100%;
    background-color: #c29eff;
    padding: 0;
    padding-top: 5px;
    justify-content: center;
}

.headertext {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 16em;
    font-family: sans-serif;
}

.filterbar {
    justify-content: center;
    display: flex;
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 0px;
    font-family: sans-serif;
}

.filterbutton {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.status {
    background-color: yellow;
    display: flex;
    justify-content: space-between;

    padding: 4px;
    font-family: sans-serif;


}
