.sidebar {
    position: fixed;
    height: 100%; 
    width: 300px;
    padding: 20px;
    right: -340px;
    top: 0;
    background-color: var(--primary-dark);
    color: white;
    transition: right .3s ease-in-out;
    z-index: 5;
}

.sidebar.open {
    right: 0;
    transition: right .3s ease-in-out;
}

.sidebar-contents {
    margin: 15px;
}

.sortselect {
    padding: 5px;
    margin: 5px;
    background-color: var(--primary-light);
    color: black;
    text-align: left;
}

.filterselect {
    padding: 5px;
    margin: 5px;
    background-color: var(--primary-light);
    color: black;
    text-align: left;

}


.checkmarkheader {
    margin-top: 12px;
    margin-bottom: 3px;
}


.topcheckmarkheader {
    margin-top: 3px;
}

.sectionheader {
    margin: 5px;
    margin-top: 8px;
    text-align: left;
}